interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.holmes.bg/pcgi/home.cgi?act=2&pn=1&f38=%EE%E1%EB%E0%F1%F2+%D1%EE%F4%E8%FF&ri=%F1.+%C3%E5%F0%EC%E0%ED&f42=&f39=&f40=%F1.+%CB%EE%E7%E5%ED%2B%F1.+%C6%E5%EB%E5%E7%ED%E8%F6%E0%2B%F1.+%C1%E8%F1%F2%F0%E8%F6%E0%2B%F1.+%C3%E5%F0%EC%E0%ED%2B&f16=1&f17=1&f28=&f29=200000&f30=EUR&f26=&f27=&f31=&f32=&f33=&f34=&f35=&f36=&f37=&f41=1&f1=0
  response:
    body: {string: !!python/unicode "
      <html>

        <body>

          <center id=\"main\">

                  <table width=980 cellspacing=0 cellpadding=0 border=0 style=\"margin-top:10px;\">
                      <tr>
                          <td height=12><img src=\"../images/search_top.gif\" width=980 height=12 border=0></td>
                      </tr>
                      <tr>
                          <td align=\"center\" style=\"border-left:#bfbfbf 2px solid; border-right:#bfbfbf 2px solid;\">
                              <table width=956 cellspacing=0 cellpadding=5 border=0>
                                  <tr>
                                      <td width=427 align=\"left\" style=\"font-size:14px;\"><strong>  </strong></td>
                                      <td width=141 align=\"center\" style=\"font-size:14px;\"><strong></strong></td>
                                      <td width=282 align=\"center\" style=\"font-size:14px;\"><strong>  </strong></td>
                                      <td width=107 align=\"right\" style=\"font-size:14px;\"><strong></strong></td>
                                  </tr>
                                  <tr>
                                      <td height=[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.holmes.bg/pcgi/home.cgi?act=2&pn=1&f38=%EE%E1%EB%E0%F1%F2+%D1%EE%F4%E8%FF&ri=%F1.+%C3%E5%F0%EC%E0%ED&f42=&f39=&f40=%F1.+%CB%EE%E7%E5%ED%2B%F1.+%C6%E5%EB%E5%E7%ED%E8%F6%E0%2B%F1.+%C1%E8%F1%F2%F0%E8%F6%E0%2B%F1.+%C3%E5%F0%EC%E0%ED%2B&f16=1&f17=1&f28=&f29=200000&f30=EUR&f26=&f27=&f31=&f32=&f33=&f34=&f35=&f36=&f37=&f41=1&f1=1
  response:
    body:
      string: <html></html>
    headers:
      content-type: [text/html]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.holmes.bg/pcgi/home.cgi?act=2&pn=1&f38=%EE%E1%EB%E0%F1%F2+%D1%EE%F4%E8%FF&ri=%F1.+%C3%E5%F0%EC%E0%ED&f42=&f39=&f40=%F1.+%CB%EE%E7%E5%ED%2B%F1.+%C6%E5%EB%E5%E7%ED%E8%F6%E0%2B%F1.+%C1%E8%F1%F2%F0%E8%F6%E0%2B%F1.+%C3%E5%F0%EC%E0%ED%2B&f16=1&f17=1&f28=&f29=200000&f30=EUR&f26=&f27=&f31=&f32=&f33=&f34=&f35=&f36=&f37=&f41=1&f1=2
  response:
    body:
      string: <html></html>
    headers:
      content-type: [text/html]
    status: {code: 200, message: OK}
version: 1
